$color-light-grey: rgb(236, 236, 236);
$color-green: rgb(3, 182, 167);
$color-orange: rgb(255, 127, 0);

::placeholder {
  color: $color-green;
}
.big-search {
  min-height: 60px;
  background-color: $color-green;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* min-width: 600px; */
  flex-wrap: 1;
  border-radius: 5px;
  color: white;
  position: sticky;
  top: 0px;
  justify-content: space-evenly;
  margin-top: -35px;
  min-width: 310px;
  border: 1px solid $color-green;
}



.big-search input[type="search"] {
  padding: 5px;
  border: 1px solid $color-green;
  border-radius: 5px;
  width: 210px;
  color: $color-green;
}


.big-search input[type="search"]:focus {
  outline: $color-green;
}


.big-search input[type="text"] {
    padding: 5px;
    border: 1px solid $color-green;
    border-radius: 5px;
    width: 80px;
  }
  
  .big-search input[type="text"]:focus {
    outline: white;
  }


.big-search .search-button {
    /* margin-left: 50%; */
    padding: 5px 20px;
    background: white;
    border: 1px solid rgb(1, 158, 158);
    border-radius: 5px;
    color: rgb(3, 182, 167);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    width: 210px;
   
    
}

.big-search .bloc {
    min-width: 210px;;
}

@media (max-width: 980px) {
.big-search {
    flex-direction: column;
    gap: 10px;
}

.big-search .icon {
    display: none;
}

/* .popular {
    margin-top: 120px;
} */

}

@media (max-width: 480px) {
  .big-search {
    margin-top: -140px;
  }
}