.container-fluid {
    width: 100%;
    display: flex;
    background-color:pink;
    height: 30vh;
    justify-content: space-around;
    align-items: center;
    
    
  }
  
  .left, .rigth {
    width: 15rem;
    background-color: orange;
    height: 100%;
  }
  
  